<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.imageMapper">
    <select id = "selectImageById" resultType="imageDTO" parameterType="int">
        select * from image_map.image where id=#{id}
    </select>
    <insert id="insertImageInfo" parameterType="imageDTO" >
        insert into image_map.image(path, name, user_id) values (#{path}, #{name}, #{user_id});
    </insert>
</mapper>